# 1. strip method

In [2]:
"  hellow world  ".strip()
Help in removing the leading and trailing whitespaces in a string

'hellow world'

In [6]:

"###hello world###".strip('#')
can remove any leading and trailing character.

'hello world'

# 2. capitalize

In [15]:
str='my name is prasheel'

str.capitalize()
return the exact copy of the string with only the first letter in upper case.

'My name is prasheel'

# 3. find

.the function is used to search the first occurance of the substring in the given string.
.it returns the index at which the substring start.
. it returns -1 if the substring does occur in the string.

In [25]:
str='wellcome'
str.find('we')

0

In [27]:
str.find('co', 4,8)

4

In [29]:
str.find('cd', 4,8)

-1

# 4. isalnum

* return true if the string contains only letters or digit
* it returns false, if the string contsins any special character like _,@,#,*etc.

In [34]:
'python123'.isalnum()

True

In [16]:
'python_123'.isalnum()

False

In [20]:
'python@123'.isalnum()

False

In [24]:
'python#123'.isalnum()

False

# 5.isalpha

In [42]:
text = "market123"
result = text.isalpha()
print(result)

False

In [44]:
text = "i am technician"
result = text.isalpha()
print(result)

False

In [46]:
text = "market"
result = text.isalpha()
print(result)

True

# 6. count

In [55]:
count() Returns the number of times a specified value occurs in a string
text = "johny johny yes papa"
count_johny = text.count("johny")
print(count_johny)

2

In [61]:
text = "mango is red, tomato is red, stoberry is red and the red are cherry"
count_no = text.count("red")
print(count_no)

4

# 7. center string method
#####This method will center align the string using a specified character(space is deault) as the fill character

In [80]:
text = "zomato"
result = text.center(20)
print(f" '{result}' ")

 '       zomato       '

In [82]:
str = "text"
result = text.center(20)
print(f" '{result}' ")

 '       zomato       '

# 8. encode() 
#### returns an encoded version of the string

In [94]:
str= " this is my laptop"
result = str.encode()
print(result)

b' this is my laptop'

In [102]:
text = "My name is Star"
R = text.encode()
print(R)

b'My name is Star'

# 9. endswith()
#### Returns true if the string end with the specified end with values

In [105]:
str = " I like mango"
result = str.endswith('mango')
print(result)

True

str = " I like mango"
result = str.endswith('like')
print(result)

# 10. expandtabs()
### set the tab size of the string

In [122]:
str = "this is my new 4\tcars"
expanded_str = str.expandtabs()
print(expanded_str)

this is my new 4        cars

In [126]:
str = "this\tis my new 4 cars"
expanded_str = str.expandtabs()
print(expanded_str)

this    is my new 4 cars

# 11. format()
### Formate specified values in a string

In [25]:
age = 32
txt = "my name is sam, and I am {}"
print(txt.format(age))

my name is sam, and I am 32

In [36]:
age=4
name="shrawani"
city="nagpur"
str="my name is {} and my age is {}.I belong to {}"
print(str.format(name,age,city))

my name is shrawani and my age is 4.I belong to nagpur

# 12. join()
### method takes all item in an iterable and join them into one string

In [6]:
 strA=('van','car','bycycle')
 strB='---'.join(strA)
print(strB)

van---car---bycycle

In [14]:
strA=('1236','7896','4563')
strB='----'.join(strA)
print(strB)

1236----7896----4563

# 13. replace() 
### replace a specified phrase with another specified phrase

In [17]:
 str1='My red balloon, my red ballon,Flew up up to the sky'
str2=str1.replace('red','green')
print(str2)

My green balloon, my green ballon,Flew up up to the sky

# 14.rfind()
### method find the last occurance of the specified value,returns -1 if value was not found

In [22]:
str1='my name is shrawani'
str2=str1.rfind('pari')
print(str2)

-1

In [24]:
str1='my name is shrawani'
str2=str1.rfind('ni')
print(str2)

17

# 15. rindex()
### search the string for a specified value and returns the last position of where it was found

In [29]:
str1= 'sam like a orange and mango'
str2= str1.index('and')
print(str2)

18

In [31]:
str1= 'water colour is trasparent'
str2= str1.index('e')
print(str2)

3

# 16. rjust
### method will right align the string,using a specified character() inside the brackets as the fill character

In [44]:
str1='brush your teeth,brush your teeth,keep them always treat'
str2='brush up and down and alaround to keep them nice and neet'
str3= str1.rjust(50)
print(str2,str3)

brush up and down and alaround to keep them nice and neet brush your teeth,brush your teeth,keep them always treat

In [46]:
str1='brush your teeth'
str2='brush up and down'
str3= str1.rjust(50)
print(str2,str3)

brush up and down                                   brush your teeth

# 17. rpartition()
#### retuens a tuple where the string is parted into three parts

In [51]:
str= "i love my country"
result= str.partition(",")
print(result)

('i love my country', '', '')

In [55]:
str= "be carefully"
result= str.partition(" ")
print(result)

('be', ' ', 'carefully')

# 18.isdecimal()
### returns true if all character in the string are decimals

In [59]:
str1='S.h.r.a.w.a.n.i'
str2=str1.isdecimal()
print(str2)

False

In [61]:
str1='456321'
str2=str1.isdecimal()
print(str2)

True

# 19. isdigit()
### returns true if all the character are digit,otherwise false

In [74]:
str1= '20Shr'
str2=str.isdigit()
print(str2)

False

In [87]:
A='2024'
B=A.isdigit()
print(B)

True

# 20. isidentifier()
### returns true if the string is a valid identifier, otherwise false.

In [93]:
a='@'
b=a.isidentifier()
print(b)

False

In [95]:
a='and'
b=a.isidentifier()
print(b)

True